*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: #f5f5f5;
  transition: color 300ms ease; }
  a:hover {
    color: #00A1FF; }

body {
  background: #f5f5f5;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  font-weight: 400;
  letter-spacing: 1.5px;
  max-width: 414px;
  margin: 0 auto; }

.container {
  background: linear-gradient(to right, #141e30, #243b55);
  max-width: 100%;
  height: 100vh;
  color: #f5f5f5;
  margin: 0 auto;
  overflow: scroll;
  padding: 0 2rem; }

.btn-light, .btn-dark {
  display: inline-block;
  padding: .65rem 2rem;
  margin-bottom: .75rem;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  width: 100%;
  outline: none;
  text-align: center;
  cursor: pointer; }
  .btn-light:active, .btn-dark:active {
    transform: translateY(2px); }

.btn-light {
  background: #f5f5f5;
  color: #333; }

.btn-dark {
  background: #00A1FF;
  color: #f5f5f5; }

.fab {
  margin-right: .5rem; }

.text-left {
  text-align: left; }

.px-1 {
  padding: 0 1rem; }

.px-2 {
  padding: 0 1.5rem; }

.px-3 {
  padding: 0 2rem; }

.px-4 {
  padding: 0 3rem; }

.py-1 {
  padding: 1rem 0; }

.py-2 {
  padding: 1.5rem 0; }

.py-3 {
  padding: 2rem 0; }

.py-4 {
  padding: 3rem 0; }

.mx-1 {
  margin: 0 1rem; }

.mx-2 {
  margin: 0 1.5rem; }

.mx-3 {
  margin: 0 2rem; }

.mx-4 {
  margin: 0 3rem; }

.my-1 {
  margin: 1rem 0; }

.my-2 {
  margin: 1.5rem 0; }

.my-3 {
  margin: 2rem 0; }

.my-4 {
  margin: 3rem 0; }

#homepage-showcase, #homepage-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; }

#homepage-showcase {
  height: 60vh; }
  #homepage-showcase .logo {
    font-size: 4rem;
    color: #00A1FF;
    margin-bottom: 1rem; }
  #homepage-showcase .homepage-showcase-title {
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: .5rem; }
  #homepage-showcase .homepage-showcase-subtitle {
    font-size: .9rem;
    margin: 0 1.75rem;
    color: #CACDCF; }

#homepage-button {
  height: 40vh; }
  #homepage-button .homepage-signin-link {
    font-size: .9rem;
    color: #CACDCF;
    margin-top: 1rem; }

#signup {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100vh; }
  #signup .signup-title {
    font-size: 1.5rem;
    font-weight: 900;
    letter-spacing: 1.5px; }
  #signup .signup-instruction {
    color: #CACDCF;
    font-size: .9rem;
    letter-spacing: 1.5px; }
  #signup form {
    margin-bottom: 2rem; }
    #signup form div {
      margin-bottom: 2rem; }
      #signup form div label {
        font-size: .8rem;
        color: #CACDCF; }
      #signup form div input {
        display: block;
        padding: 1rem 0;
        margin-top: .5rem;
        width: 100%;
        border: none;
        background: none;
        border-bottom: 0.1px solid rgba(116, 116, 116, 0.2);
        transition: all 300ms ease-in;
        outline: none;
        font-size: .9rem;
        letter-spacing: 1.5px;
        color: #f5f5f5; }
        #signup form div input:focus {
          border-bottom: 0.1px solid #00A1FF; }
  #signup .buttons div {
    margin-bottom: 3rem; }
    #signup .buttons div .signin-reminder {
      margin-top: -2.5rem;
      text-align: center;
      color: #CACDCF;
      font-size: .9rem;
      letter-spacing: 1.5px; }
      #signup .buttons div .signin-reminder a {
        color: #00A1FF; }
  #signup .buttons label {
    color: #CACDCF;
    font-size: .9rem; }
    #signup .buttons label a {
      color: #00A1FF; }
  #signup .buttons .signup-btn {
    font-weight: 600; }
